*{  
    margin:0;
    padding:0;
    box-sizing: border-box !important;
    /* transition: ease all 0.5s; */
}
#headericon{
    height: 93px;
    width: 463px;
}
header{
    background-color:black;
    text-align: center;
    padding: 5px;
}
nev ul{
    color: burlywood;
    padding: 0px;
    position: absolute;
    left: 25px; 
}
nev li{
    color: red;
    display: inline;
    list-style: none;
    background-color: rgb(250, 249, 248);
     border:1px solid ;
     padding: 1px 5px;
    
}
 nev a{
    text-decoration: none;
    cursor: pointer;
    /* color:black; */
    

}
/*contact*/









 
 






footer{
    clear: both;
    background-color: black;
    color: white;
    padding: 5px;
    text-align: right;
    font-size: 15px;
    font-weight:100;
}
 