*{
    padding: 0;
    margin:0;
}
 body,html {
    display: flex;
    min-height: calc(100vh - 0px);
    flex-direction: column;
     background-image: url("https://source.unsplash.com/user/erondu/1600x900"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    overflow-x: hidden;
  }
  .all_data{
    background-color: rgba(33, 243, 243, 0.384);
  }
  footer {
    
    background-color: rgba(35, 241, 248, 0.911);
  }
  /*social icon*/
  .social{
      padding:2% 22% 4% 22%;
    display:grid;
     grid-template-columns: auto auto auto  auto auto auto;
     gap:5px;
     background-color: chartreuse;
  }
  .control{
    height:2.5rem;
    width:2.5rem;
    background-color: rgba(0, 217, 255, 0.11);
    padding: 2px;
    margin: 5px;
    border-radius: 50%;
    border:3px solid rgba(17, 0, 255, 0.466);
  }
  .icon{
      /* background-color: seashell; */
      padding: 11px;
      position :absolute;
      font-size: 19px;
  }
  .is-custom-button-social {
color:white;
  }
  /*serach*/
  .search_from{
    padding: 5% 22% 2% 22%;
  }
  .searchall{
      
      background-color: rgba(27, 25, 25, 0.11);
      display: flex;
      flex:3;
      -ms-flex-item-align: end;
      border-radius: 4px;
      border:3px solid rgba(77, 28, 28, 0.137);
  }
  .getapi{
      color:rgba(3, 100, 11, 0.733);
  }
  .nogetapi{
        color:red;
  }
  .search_icon,.getapi,.nogetapi{
      font-size: 29px;
      text-align: center;
      padding:6px 13px 2px 13px;
      /* color:rgba(17, 15, 15, 0.384); */

      /* background-color: lawngreen; */
  }
  input{
      /* background-color: red; */
    padding: 3px 2px 3px 2px;
    background-color:rgba(243, 245, 247, 0.473);
    border-radius: 5px;
    
    width: 100%;
    border:0px;
    padding-right: 26px;
    font-size: 29px;
    text-align: right;
        
  }
  .input:focus{
      outline: none;
  }
  /*body*/
  .all_deatis{
      background-color: rgba(87, 196, 196, 0.644);
      display: grid;
      grid-template-columns: auto auto ;
      padding:25px;
  }
  .location_details,.location_temp,.location_wind{
      background-color: rgba(0, 4, 255, 0.178);
      padding:3rem;
      margin:12px;
  }
  ul li{
      list-style-type: none;
  }