:root{
    --mian:white;
    --submain:red;
    --backgroundall:green;
    --icon2font:2rem;
    --mianfont:1.2rem;
}
@media screen and (max-width: 945px) and (min-width:775px){
  :root{
    --mianfont:1.5rem;
  }
}
@media screen and (max-width: 1025px){
  .searchall{
    height: 54px;
  }
}

*{
    padding: 0;
    margin:0;
}
 body,html {
    display: flex;
    min-height: calc(100vh - 0px);
    flex-direction: column;
    background-color: rgba(245, 252, 252, 0.993);
     /* background-image: url("https://source.unsplash.com/user/erondu/1600x900");  */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    overflow-x: hidden;
  }
  .all_data{
    /* background-color: rgba(33, 243, 243, 0.384); */
    width: 100%;
    padding:0;
    margin:0;
  }
  footer {
    padding-bottom:56px ;
  }
  /*social icon*/
  .social{
      padding: 15px 20px;
  }
  .socialset{
      padding: auto;
    display:grid;
     grid-template-columns: repeat(6, auto);
     justify-content: space-around;
     /* background-color: chartreuse; */
  }
.socialset .social__icon:hover{
  box-shadow: 0px 2px 25px rgb(10, 10, 10);  
  border-radius: 15%;
  /* border: 5px solid red; */
  color: aqua;
  border: 3px solid aqua;
  background-color: aliceblue;
}
.social__icon{
  margin: 10px;

}
.social__icon{
  background-color: aqua;
    color:rgba(244, 243, 250, 0.932);
    border-radius: 15%;
    font-size: 25px;
    justify-content: center;
    /* background-color: green; */
    padding: 15px;
  }
  .is-custom-button-social {
color:white;
  }
  /*serach*/
  .search_from{
    text-shadow: 1px 1px black;
  }
  .searchall:hover,.searchall:active{
    box-shadow: 0px 1px 8px red;
  }
  .searchall{
    /* position: fixed; */
    top:20px;
    left: 10%;
    right: 10%;
    justify-content: center;
    box-shadow: 0px 4px 25px black;
      background-color: white;
      display: flex;
      flex:3;
      -ms-flex-item-align: end;
      border-radius: 40px;
  }
  .getapi{
      color:rgba(30, 219, 23, 0.979);
  }
  .nogetapi{
        color:red;
  }
  .search_icon,.getapi,.nogetapi{
      font-size: 29px;
      padding:10px;
      /* color:rgba(17, 15, 15, 0.384); */

      /* background-color: lawngreen; */
  }
  /*icon of main data*/
  #icon2 .fas {
    text-shadow: 0px 2px 10px rgba(36, 17, 207, 0.925);
      color:aqua;
      /**need**/
      font-size: var(--icon2font);
      font-size: 45px;
  }
  input{
      background-color: red;
    padding: 3px 2px 3px 2px;
    background-color:rgba(243, 245, 247, 0.473);
    border-radius: 5px;
    width: 100%;
    border:0px;
    padding-right: 26px;
    font-size: 25px;
    text-align: right;
    font-family: cursive;
    font-variant: small-caps;
        
  }
  .input:focus{
      outline: none;
  }
  /*body*/
  .all_deatis{
      /* background-color: rgba(202, 26, 164, 0.644); */
      color:black;
      /**need**/
      display: grid;
      grid-template-columns: auto auto  auto;
      padding:25px;
      /* justify-self: auto; */
      justify-content: center;

  
  }
  .location_details,.location_temp,.location_wind{
      /* background-color: rgba(56, 59, 235, 0.164); */
      padding:1rem 0.3rem;
      margin:12px;
      font-size: var(--mianfont);
      border-radius: 15px;
      /* border:2px solid silver; */
      text-align: center;
      box-shadow: 0px 3px 65px aqua;
      /* text-shadow: 1px 0.5px black; */
      width: 325px;
  }
  ul li{
      list-style-type: none;
  }
 

  .copyright{
    width: 100%;
    position: fixed;
    bottom: 0;
    box-shadow:0px 2px 12px black;
    background-color: aliceblue;
      text-align:right;
      font-size: 30px;
      padding-right: 1.9rem;
      color: aqua;
      padding: 12px 10px 12px 0px;
  }
  .copyright a{
    color: aqua;
    text-decoration: none;
  }
  /*for differnt device*/
  @media screen and (min-width: 945px) and (max-width:1245px){
    .search_from{
      width: 325px;
      position: fixed;
      top:65px;
      right: 8%;
      z-index: 10;
      /* background: RED; */
    }
    .searchall{
      width: 100%;
    }
    .all_data{
      /* background-color: red; */
      padding: 0;
      margin: 0;
    }
    .all_deatis{
      /* background-color:rgba(235, 103, 240, 0.87); */
      box-shadow: 0px 4px 23px aqua;
      border: 5px solid rgb(125, 214, 230);
      margin: 55px;
      border-radius: 15px;
      
    }
.all_deatis{
  z-index: -10;
   text-align: center;
   justify-self: center;
   grid-template-columns: auto ;
}
.location_details{
  position: relative;
  right:50%;
  top:40%;
  padding: 25px;
}
.location_temp{
  position: relative;
  left:50%;
  padding: 25px;
}
.location_wind{
  position: relative;
  right:50%;
  bottom:40%;
  padding: 25px;
}  
 }

  @media screen and (min-width: 1245px) {
    .search_from{
      width: 325px;
      position: fixed;
      top:65px;
      right: 8%;
      z-index: 10;
      /* background: RED; */
    }
    .searchall{
      width: 100%;
    }
    .all_data{
      /* background-color: red; */
      padding: 0;
      margin: 0;
    }
    .all_deatis{
      background-color:rgba(12, 103, 119, 0.048);
      box-shadow: 0px 4px 23px aqua;
      border: 5px solid rgb(125, 214, 230);
      margin: 55px;
      border-radius: 15px;
      
    }
.all_deatis{
  z-index: -10;
   text-align: center;
   justify-self: center;
   grid-template-columns: auto ;
}
.location_details{
  position: relative;
  right:70%;
  top:40%;
  padding: 35px;
}
.location_temp{
  position: relative;
  left:70%;
  padding: 35px;
}
.location_wind{
  position: relative;
  right:70%;
  bottom:40%;
  padding: 35px;
}  
 }

  @media screen and (max-width: 945px) {
    .search_from{
      position: absolute;
      top:45px;
      width: 345px;
      left: 10%;
      /* background-color: aqua; */
      justify-content: center;
      text-shadow: 0px 1px 12px black;
    }
     .social{
         padding:10px;
     }
.all_deatis{
  margin-top: 150px;
    text-align: center;
    grid-template-columns: auto;
}    
  }
  @media screen and (max-width: 365px) {
    .search_from{
      width: 275px;
      left: 30px;
      right: 30px;
      text-shadow: 0px 2px 10px black;
    }
    html{
      width: 365px;
      background-color: rgb(250, 248, 248);
    }
    .social{
        padding:10px;
    }
    .socialset{
      grid-template-columns: repeat(3,auto);
    }
.all_deatis{
   text-align: center;
   grid-template-columns: auto;
}  
.input{
  font-size: 18px;
}
 }

  