
@import url(fontawesome.css);
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
:root{
    --main: rgb(71, 201, 224);
    --deepmian:rgb(14, 144, 204);
    --submain: rgba(156, 229, 241, 0.774);
    --background :rgba(54, 52, 52, 0.322);
    --havbackground:rgba(144, 220, 230, 0.863);
    --havtxtcolor:rgb(5, 1, 1);
    --linkcolor:rgb(17, 60, 199);
    --havlinkcolor:rgb(253, 67, 238);
}
body {
    font-family: 'Lato', sans-serif;
}
a:hover{
    color:var(--havlinkcolor);
}
a{
    color: var(--linkcolor);
}
#page-wraper {
    background: url(../images/main.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}


#preloader {
    overflow: hidden;
    background: #88ccd8;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999999;
    color: #fff;
  }
  
  #preloader .jumper {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    margin: auto;
    width: 50px;
    height: 50px;
  }
  
  #preloader .jumper > div {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    opacity: 0;
    width: 50px;
    height: 50px;
    -webkit-animation: jumper 1s 0s linear infinite;
    animation: jumper 1s 0s linear infinite;
  }
  
  #preloader .jumper > div:nth-child(2) {
    -webkit-animation-delay: 0.33333s;
    animation-delay: 0.33333s;
  }
  
  #preloader .jumper > div:nth-child(3) {
    -webkit-animation-delay: 0.66666s;
    animation-delay: 0.66666s;
  }
  
  @-webkit-keyframes jumper {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    5% {
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
    }
  }
  
  @keyframes jumper {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    5% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  
/* Basic */ 
body {
    overflow-x: hidden;
}

input,
select,
textarea {
    outline: none;
}

a,
a:hover {
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

h4 {
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.25px;
}

img {
    width: 100%;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
    display: inline-block;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.container {
    margin: 0 auto;
}

.main-nav {
    text-align: center;
}

/* .main-nav li:last-child a {
    border-bottom: 2px solid #fff;
} */

.main-nav li {
    display: block;
    
    
}

.main-nav li a {
    border-bottom: 0.6px solid #fff;
    border-radius: 50%;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    width: 60%;
    transition: all 0.5s;
    border-top: 2px solid #fff;
}

.main-nav li:hover a,
.main-nav li.active a {
    background: #fff;
    color:var(--deepmian);
}

/* Sidebar Menu */

.menu .image {
    margin-top: 60px;
}

.menu .image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
}

.menu .author-content {
    margin: 40px 0px 60px 0px;
}

.menu .author-content h4 {
    margin-bottom: 0px;
}

.menu .author-content span {
    font-size: 13px;
    font-style: italic;
    color: #fff;
}

.menu .author-content {
    margin-top: 60px;
}
.menu .social-network{
    padding-top: 39px;
}
.menu .social-network ul li {
    margin: 0 3px;
}

.menu .social-network ul li a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.007);
    color: #fff;
    font-size: 14px;
    transition: all 0.5s;
    border-radius: 50%;
    border:1px solid white;
}

.menu .social-network ul li a:hover {
    background-color: #fff;
    color: var(--main);
}
.menu .social-network ul{
    padding-bottom:23px ;
}
.menu .copy {
    position: relative;
    margin-top: 10px;
}

.menu .copyright-text p {
    border-top: 1px solid var(--havbackground);
    display: inline-block;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    font-size: 13px;
}

.menu:before,
.menu:after {
    content: "";
    display: table;
}

.menu:after {
    clear: both;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu {
    text-align: center;
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu {
    left: 10%;
  /* -webkit-transition: -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1); */
  -webkit-overflow-scrolling: touch;
  background-color: var(--main);
  box-sizing: border-box;
  height: 100vh;  
  max-height: 100vh !important;
  max-width: 80vw !important;
  min-width: 45px !important;
  outline: none;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  padding: 0;
  position: fixed !important;
  top: calc(0px);  
  width: 20%;
  will-change: transform;
  z-index: 9999 !important;
}

.menu-toggle {
  color: #fff;
  cursor: pointer;
  font-size: 25px;
  position: fixed;
  right: 25px;
  top: 25px;
}

#menu-toggle {
    z-index: 999;
    cursor: pointer;
    position: fixed;
    top: 10;
    left: 0;
    color: var(--main);
    background-color: #fff;
    width: 60px;
    height: 60px;
    font-size:29px;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}

.menu-close {
  cursor: pointer;
}

#menu-close {
    cursor: pointer;
    text-align: right;
    color:var(--main);
    background-color: #fff;
    width: 100%;
    height: 30px;
    text-align: center;
    display: inline-block;
    line-height: 30px;
}


/* Section */

.section {
    color: #fff;
    width: 55%;
    right: 10%;
    left: 35%;
    position: relative;
    min-height: 100vh;
    padding-bottom: 80px;
    border-bottom: 3px solid rgba(250, 250, 250, 0.25);
}
.welcome{
    text-align: center;
    padding: 12px 1px 1px 1px;
}
.welcome h2{
    font-weight: 500;
    font-family:cursive;
}
.welcome .line-dec{
    width: 250px;
    height: 3px;
    background-color: var(--deepmian);
    margin: 10px auto;

}
.hello{
    padding-top: 12px;
    text-align: center;
}
/* my project */
.allproject{
        background:var(--background);
        padding: 22px;
        text-align: left; 
}
.allproject:hover{
    background-color: var(--havbackground);
}
.allproject:hover .project1,.allproject:hover p,.allproject:hover .project2{
    color:var(--havtxtcolor);
}
.allproject spam{
    background-color:#dce3e979;
    color: black;
    font-size: 26px;
    font-weight: bold;
    font-family: times;
    padding: 6px;
    border-radius: 15px;
    text-shadow: 1px 1px var(--main) ;

}

/* about me */

/* .section-heading .education {
    text-align: center;
    padding: 80px 45px;
} */

.section-heading h2  {
    padding-top: 23px;
    font-size: 35px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.intro{
    text-align: center;    
}
.education:hover{
    background-color: var(--havbackground);
}
.education:hover .line{
 background-color:var(--havtxtcolor) ;
}
.education:hover h4,.education:hover p{
    color:var(--havtxtcolor);

}
.education:hover .line{
    background-color: var(--havtxtcolor);
}
.education{
    background:var(--background);
    padding: 22px;
    text-align: center;
}
.education .line{
    width: 80%;
    height: 3px;
    background-color: #cddeec33;
    margin: 10px auto;
}
.section-heading .line-dec  {
    width: 60px;
    height: 3px;
    background-color: var(--deepmian);
    margin: 10px auto;
}
.skillAll:hover{
    background-color: var(--havbackground);
}
.skillAll{
    margin-top: 12px;
    background-color:var(--background);
    /* border-radius: 90% 0%  0% 0%; */
}
.skillAll:hover h2,.skillAll:hover .html,.skillAll:hover  .css,.skillAll:hover .c,.skillAll:hover .cpp,.skillAll:hover .Javascript{
    color: var(--havtxtcolor);

}
.skillAll:hover .line{
    background-color: var(--havtxtcolor);
}
.skillAll h2{
    text-align: center;
}
.skillAll .line{
    width: 80%;
    height: 3px;
    background-color: #4b34343f;
    margin: 10px auto;
}
.skillAll{
    text-align: left;
    padding: 0px 45px ;

}
.skillAll .html,.skillAll .css,.skillAll .Javascript,.skillAll .c,.skillAll .cpp{
    padding: 10px 1px;
      
}
.persentage{
    padding: 2px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.089);
    border-radius: 15px;
    box-shadow: 1px 1px 1px var(--main);
}
.c .persentage .data{
    background-image:linear-gradient(to bottom left, rgba(14, 162, 173, 0.897) ,rgba(26, 70, 151, 0.74),rgba(8,23,145,0.23));
    background-color: white;
    width: 70%;
    padding: 10px;
    border-radius: 15px;
}
.cpp .persentage .data{
    background-image:linear-gradient(to bottom left, rgba(14, 162, 173, 0.897) ,rgba(26, 70, 151, 0.74),rgba(8,23,145,0.23));
    background-color: white;
    width: 40%;
    padding: 10px;
    border-radius: 15px;
}
.html .persentage .data{
    background-image:linear-gradient(to bottom left, rgba(14, 162, 173, 0.897) ,rgba(26, 70, 151, 0.74),rgba(8,23,145,0.23));
    background-color: white;
    width: 50%;
    padding: 10px;
    border-radius: 15px;
}
.css .persentage .data{
    background-image:linear-gradient(to bottom left, rgba(14, 162, 173, 0.897) ,rgba(26, 70, 151, 0.74),rgba(8,23,145,0.23));
    background-color: white;
    width: 60%;
    padding: 10px;
    border-radius: 15px;
}
.Javascript .persentage .data{
    background-image:linear-gradient(to bottom left, rgba(14, 162, 173, 0.897) ,rgba(26, 70, 151, 0.74),rgba(8,23,145,0.23));
    background-color: white;
    width: 30%;
    padding: 10px;
    border-radius: 15px;
}
/* Buttons */

.white-button a {
    display: inline-block;
    padding: 12px 20px;
    background-color: #fff;
    color: var(--main);
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
}

.white-button a:hover {
    background-color: var(--submain);
    color: #fff;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: var(--main);
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
    border: none;
    outline: none;
    cursor: pointer;
}

button:hover {
    outline: none;
    background-color: var(--submain);
    color: #fff;
}


/* Left & Right Post */

.right-image-post ,.left-image-post {
    margin-top: 10px;
    padding-top: 10px;
    /* border-top: 2px solid rgba(250, 250, 250, 0.1); */
}

.left-image img,
.right-image img {
    border-radius: 5px;
}

.right-image-post h4,
.left-image-post h4 {
    margin-top: 10px;
    font-family: cursive;
    font-size:15px;
    font-weight: 100;
}
.right-image-post h4 b,
.left-image-post h4 b {
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size:25px;
}

.right-image-post p,
.left-image-post p {
    margin-top: 10px;
}

.right-image-post .white-button,
.left-image-post .white-button {
    margin-top: 10px;
}
.left-text p{ 
    /* background-color: yellow; */
    font-size: 15px;

}
.right-text p{
    /* background-color: yellow; */
    font-size: 15px;
}
/*experience*/
#expall span{
    color: black;
    background-color: rgba(249, 247, 253, 0.459);
    border-radius: 154px;

}
#experience{
    margin-top: 12px;
    background-color: var(--background);
    padding: 37px;
}
#experience:hover{
    background-color: var(--havbackground);
}
#experience:hover h2,#experience:hover p{
    color:var(--havtxtcolor);
}
#experience:hover .line{
    background-color: var(--havtxtcolor);
}
#experience h2{
    text-align: center;
    font-size: 29px;
}

#experience .line{
    width: 80%;
    height: 3px;
    background-color: #3d42467a;
    margin: 10px auto;
}
#experience  span{
    text-shadow: 1px 1px var(--main) ;
    text-align: left;
    padding: 10px;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}


/* my Blogg */
.myBlogg .main{
    text-align: center;
}

.my-services .col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
}

.service-item {
    margin-bottom: 10px;
    padding: 50px;
    background-color:var(--background);
    transition: all 0.5s;
}
.service-item .writer{
    padding-right: 15px;
    text-align: right;
}
.service-item:hover .writer{
    background-color: var(--main);
    color: var(--havtxtcolor);
    text-align: right;
}
.service-item h4 {
    transition: all 0.5s;
}

.service-item p {
    transition: all 0.5s;
}
.service-item:hover {
    background-color: var(--havbackground);
}

.service-item:hover h4 {
    color: var(--havtxtcolor);
}

.service-item:hover p {
    color: var(--havtxtcolor);
}
.service-item .service-icon  a{
    width: 80px;
    height: 80px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    padding: 5px;
    color: #fff;
    font-size: 74px;
    transition: all 0.5s;
    border-radius: 50%;
    border:1px solid white;
}
.service-item:hover .service-icon  a{
 color: var(--main);
 border:1px solid  var(--main);
}
.service-item .service-icon {
    width: 70px;
    height: 70px;
    display: inline-block;
    margin-bottom: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s;
}


.service-item .white-button a{
    position: relative;
    left: 67%;
}
.service-item:hover .white-button a{
    background-color: var(--main);
    color: var(--havtxtcolor);
}
.service-item:hover .white-button a:hover{
    background-color: var(--submain);
    color: var(--havtxtcolor);
}


/* Contact Me */

section.contact-me {
    border-bottom: none;
}

#contact input {
    background-color: rgba(250,250,250,0.1);
    border: 1px solid rgba(250,250,250,1);
    border-radius: 0px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width: 100%;
    padding-left: 15px;
}

#contact input:focus {
    outline: none;
    box-shadow: none;
}

#contact textarea {
    background-color: rgba(250,250,250,0.1);
    border: 1px solid rgba(250,250,250,1);
    border-radius: 0px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 14px;
    height: 180px;
    max-height: 220px;
    line-height: 40px;
    width: 100%;
    padding-left: 15px;
}

#contact textarea:focus {
    outline: none;
    box-shadow: none;
}

#contact {
    text-align: center;
}

@media screen and (max-width: 1680px) {
    .menu {
        left: 5%;
    }

    .section {
        color: #fff;
        width: 65%;
        right: 5%;
        left: 30%;
    }
}

@media screen and (max-width: 1680px) and (min-width: 846px) { 
    .menu .social-network ul li a {
        width: 36px;
        height: 36px;
        line-height: 36px;
        border-radius:50%;
        border:1px solid white;
    }

    .menu .social-network ul li {
        margin: 2px;
        
    }

    .menu .image {
        margin-top: 60px;
    }
}

@media screen and (max-width: 1280px) {
    .menu {
        left: 0%;
    }

    .right-image-post h4,
    .left-image-post h4 {
        margin-top: 0px;
    }

    .right-image-post p,
    .left-image-post p {
        margin-top: 15px;
    }

    .right-image-post .white-button,
    .left-image-post .white-button {
        margin-top: 25px;
    }

}

.menu .container {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 1280px) and (min-width: 846px) {
    .menu {
        width: 25%;
    }
   
}

#menu-toggle,
#menu-close {
    display: none;
}  
@media screen and (max-width: 1145px) and (min-width:825px)
{
    .right-text h4 b{
        /* background-color: yellow; */
        font-size: 24px;
    }
    .left-text h4 b{
        /* background-color: yellow; */
        font-size: 24px;
    }
    .right-text p{
        /* background-color: yellow; */
        font-size: 12px;
    }
    .left-text p{
        /* background-color: yellow; */
        font-size: 12px;
    }
    
}

@media screen and (max-width: 845px) {        
    #menu-toggle,
    #menu-close {
        display: inline-block;
    }    

    .menu {        
        width: 220px;
        -webkit-transform: translateX(-100%) !important;
        transform: translateX(-100%) !important;
        transition: -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
        transition: transform 233ms cubic-bezier(0, 0, 0.21, 1);
        transition: transform 233ms cubic-bezier(0, 0, 0.21, 1), -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
    }

    .menu .image {
        margin-top: 10px;        
    }

    .menu .image img {
        width: 160px;
        height: 160px;
    }

    .menu .author-content {
        margin: 20px 0px 40px 0px;
    }

    .menu .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .menu.open {
        display: inline-block;
        -webkit-transform: translateX(0) !important;
                transform: translateX(0) !important;
    }

    .responsive-nav {
        display: inline-block;
    }
    .section {
        width: 94%;
        right: 3%;
        left: 3%;
    }
    .isotope-item {
        width: 94%;
        margin: 3%;
    }
    .left-image-post img {
        margin-bottom: 30px;
    }
    .right-image-post img {
        margin-top: 30px;
    }
    .isotope-item {
        border-bottom: none;
        text-align: center;
    }
    .isotope-toolbar {
        margin-bottom: 20px;
    }
    .menu .social-network ul li a {
        width: 36px;
        height: 36px;
        line-height: 36px;
        border-radius:50%;
        border:1px solid white;
    }

    .menu .social-network ul li {
        margin: 1px;
        
    }
}