*{
    padding: 0%;

}

html{
    background-color: rgba(25, 214, 228, 0.733);
    height:100%;
    width: 100%;
    
}
#all{
    padding: 0%;
    height: 100%;
    width:100%;
    /* background-image:url(p1.png); */
    float: right;
}
#all-left{
    left: 12px;
    position: absolute;
   
}
#name{
    top: 30px;
    font-size: 25px;
    position: relative;
}
#name,#address,#contact{
    text-align: right;

}
#address,#contact{
    font-family: cursive;
    top: 165px;
    position: relative;
}
#myImage{
    top: 92px;
    height: 186px;
    width: 186px;
    border-radius: 100px;
    left:13px;
    position: relative;
}
#contact{
    top: 1224px;
    left:29px;
    position: absolute;
    font-family: cursive;
}
.v1{
    
    border-left: 6px solid rgb(27, 183, 245);
    height: 1920px;
    left: 215px;
    position:absolute; 
}
/*qualification*/
.enducation{
    position: absolute;
    left: 300px;
    top: 385px;
    width: 425px;
    background-color: rgba(33, 213, 226, 0.459);
    border-radius: 25px;
    padding: 23px;
}
 ul{
     list-style-type:square;
     font-weight: 700;
     padding-left:21px ;
 }
 #class10,#hs,#iitg,#rkmvcc{
     height: 65px;
     width: 65px;
 }
#hs{ 
    border-radius: 100px;
}
#yer2015,#yer2012,#yer2017,#yer2020{
    left: 85px;
    position: absolute;
}
.class10{
    top: 95px;
    left: 119px;
    font-size: 12px;
    position: absolute;
    font-family: cursive;
}
.hs{
    font-family: cursive;
    left:119px;
    top: 185px;
    position: absolute;
    font-size: 12px;
}
.rkmvcc{
    font-family: cursive;
    font-size: 12px;
    left: 119px;
    top:276px;
    position: absolute;
}
.iitg{
    font-family: cursive;
    position: absolute;
    left: 119px;
    top: 363px;
    font-size: 12px;
    width: 256px;
}
/*education end*/
/*Technical skills*/
#skills{
    position: absolute;
    left: 850px;
    top: 385px;
    width: 425px;
    background-color: rgba(33, 213, 226, 0.459);
    border-radius: 25px;
    padding: 23px;
}
/*Technical skills end*/
#footer{
    top:1875px;
    left:0px;
    position: absolute;  
    font-size: 15px;
    /* background-color: black; */
     
}